[2019-05-13 17:43] RockHoward opened #1 "Add DSTU2 Support"
* fhir.resources version: DSTU2
* Python version: 2.7
* Operating System: *nix

### Description

I am supporting several FHIR projects and I need support for DSTU2 and well as STU3 and R4.

### What I Did

I looked at the code and discovered that code supporting STU3 was included, but not DSTU2.

[2019-05-13 17:46] RockHoward opened #2 "STU3 support missing in pypy version."
* fhir.resources version: STU3
* Python version: 2.7
* Operating System: *nix

### Description

STU3 code not included in pypy version.

### What I Did

I used 'pip install' to install this package expecting to be able to use the code to support STU3 and R4 projects. However I discovered that the STU3 code was missing.

[2019-05-13 18:13] RockHoward commented on #2
I see now that STU3 was not in 4.0.0 which is the default pypy package at the moment. Please treat this issue as I reminder to upgrade the default pypy version soon.

[2019-05-14 05:29] nazrulworld commented on #2
@RockHoward  thanks for your interest.

**Actually multi versions support start from fhir.resources 5.x.x** which is currently in beta https://pypi.org/project/fhir.resources/5.0.0b2/ , will release stable version soon  after some testing. You are welcome to use the beta release.

[2019-05-14 05:33] nazrulworld commented on #1
I was trying to add DSTU2 support but normally not possible by generator (as it is for latest FHIR specification). However I will try other soon if i can manage time.

[2019-05-14 11:38] nazrulworld commented on #1
@RockHoward  Please check new release! https://pypi.org/project/fhir.resources/5.0.0b3/

[2019-05-14 11:38] #1 closed

[2019-05-14 11:38] #2 closed

[2019-05-14 15:00] RockHoward commented on #1
Brilliant. I will start testing DSTU2 right away!

[2019-05-29 17:15] RockHoward opened #3 "Test file"
* fhir.resources version:
* Python version:
* Operating System:

### Description

I would like to run the test suite for DSTU (or at least review the test example files), but the json files that the tests use don't seem to be included in this repo.

[2019-05-29 17:46] nazrulworld commented on #3
I believe, you will find all json files here http://hl7.org/fhir/DSTU2/examples-json.zip

[2019-06-07 22:25] #3 closed

[2019-06-07 22:29] RockHoward commented on #2
I am getting very close to pushing a project that uses the DSTU2 support into production. It would be great if the 5.x.x version made it into PyPI soon.

[2019-06-08 15:11] nazrulworld commented on #2
@RockHoward stable version released!

[2019-06-09 20:28] RockHoward commented on #2
Thanks a bunch! Perfect timing.

[2019-07-08 13:48] jxtiben opened #4 "Parse to XML"
* fhir.resources version: DSTU2
* Python version: Python 3.7
* Operating System: Linux

### Description

I'm implementing FHIR, version DSTU2 works perfectly but I'd like to know if there is any way to parse the resources (MessageHeader, Patient, ...) to XML format?

### What I Did

According to the documentation "binary.as_json()" is the way to convert to Json format but I'm not sure if there is

[2019-07-11 17:27] nazrulworld commented on #4
Hi @jxtiben

Thanks for your interest. Actually, there is no XML format implementation.
I found some online and offline tools, from where you can convert JSON to XML resources.

The process would be like, generate json file or string using this model and manually convert them (maybe there could be a better way to do that. )

1. https://fhir-formats.github.io/
2. https://github.com/kwboone/FHIR-JSO

[2019-07-16 17:37] hartjesterretje opened #5 "confusing error message "name 'self' is not defined""
* fhir.resources version: 5.0.0
* Python version: 3.6
* Operating System: Microsoft Windows 10 Enterprise

### Description
Confusing error message "name 'self' is not defined" when using method "update_with_json(self, jsondict)", while providing an incorrect format for jsondict.

### What I Did
The cause of this confusing message I belive is a bug in FHIRAbstractBase._with_json_dict(cls, jsondict)

[2019-07-17 06:15] nazrulworld commented on #5
@hartjesterretje thanks for your reporting, of course, this is the correct way you do the bug report.

Anyway can share your code (a little bit) where you use `update_with_json(self, jsondict)`

[2019-07-17 11:44] hartjesterretje commented on #5
Sure! See below code that gives the confusing error message. It should give an error message because jsondict does not have the correct format, but the error message is confusing.

`from fhir.resources.codeableconcept import CodeableConcept`
`from fhir.resources.coding import Coding`
`coding1 = Coding(jsondict={'system': 'http://www.snomed.org/', 'code': '424144002'})`
`coding2 = Coding(jsondict={

[2019-07-18 10:59] nazrulworld commented on #5
Thanks at lot @hartjesterretje for your reporting,
I hope the newest version https://pypi.org/project/fhir.resources/5.0.1/ has that bug fix.

[2019-07-18 10:59] #5 closed

[2019-07-22 15:24] jxtiben commented on #4
Ok, I got it. I will check them. Thanks

[2019-07-22 15:24] #4 closed

[2020-05-08 18:25] PeteW opened #9 "How to use this as a FHIR Server"
* fhir.resources version: 5.1.0
* Python version: 3.7.6
* Operating System: Linux

### Description
Disclaimer I am getting started with FHIR.
My high level goal is to implement some basic FHIR resources on a flask API server.
Expose some FHIR search capabilities. Run some basic queries on a backend store, populate FHIR resource objects, return these resources in FHIR-compliant JSON structure respo

[2020-06-05 19:34] mmabey opened #11 "backboneelement introduced cyclical import as of 8fe3dbcd"
* fhir.resources version: 5.1.1.dev0
* Python version: 3.6.9
* Operating System: MacOS

### Description

In 8fe3dbcd, when Black was used on the code and unified the import statements, the import of `extension` was moved from the bottom of the file to the top. Any code that uses `backboneelement.BackboneElement` (in my case an OperationOutcome) now triggers a cyclical import as can be seen in the

[2020-06-16 09:20] nazrulworld commented on #11
@mmabey please do merge request on https://github.com/nazrulworld/fhir.resources/tree/5.X.X
5.X.X branch

[2020-06-16 10:53] nazrulworld commented on #9
Can you please more elaborate? what you mean JSON here and you mention resourceType is missing.

[2020-06-16 15:15] mmabey opened #13 "FHIR release DSTU2 still needed!"
I use `fhir.resources` as part of my work for a company that integrates with EHR systems using FHIR. The two biggest EHR systems I know of (Epic and Cerner) currently only support FHIR v1.0.2 (DSTU 2). My understanding is that there were so many issues with STU3 that hardly systems will ever support it and will instead migrate from DSTU 2 straight to R4. (I promise I'm not trying to sound dramatic

[2020-06-16 16:09] nazrulworld commented on #13
@mmabey thank you so much for the opinion.

Reason Why ``DSTU 2`` is not part.
------------------------------------

1. You will find that everything kind of rewritten to comply with pedantic (support modern python), however, you also know that we used a generator to create all classes as well as tests. The limitation there (the generator) it cannot work FHIR DSTU 2.
2. My limited knowledge, I tho

[2020-06-16 16:12] nazrulworld commented on #13
Another side note, which python version is used in your running projects?

[2020-06-16 16:32] mmabey commented on #13
Thank you for your encouraging response! One of the reason we're using the `fhir.resources` library over other options is the ability to use multiple versions of the FHIR spec simultaneously (since my company may need to interface with systems that support different versions of the FHIR spec). So thank you! The added size of the library is worth it to us.

You're not wrong about DSTU 2 being obsol

[2020-06-19 01:44] PeteW commented on #9
Thanks for writing back. I've gotten much smarter since I wrote this. I took the JSON output produced by this library, I ran it through a comprehensive FHIR validator, worked on the feedback and was able to produce what I needed. This works really well once you get the hang of it.

[2020-06-19 01:44] #9 closed

[2020-06-20 07:37] nazrulworld commented on #13
@mmabey which FHIR resources are you using mostly in your system? I am asking because I may make tests only for those specific resources as it would be hard for me to make tests for all resources by me.

[2020-06-22 12:24] jaroel opened #14 "datatype String lacks extension support"
* fhir.resources version: master checkout as of June 22nd, 2020

### Description
FHIR allows for (for example) Strings to have extensions.
An example of that can be found here: https://www.hl7.org/fhir/extensibility-examples.html#2.5.2.2.3

In the json representation this looks like this:
[code]

What I get though, is a simple python string, so I've lost the extensions.
[code]

Here's a full examp

[2020-06-22 14:10] nazrulworld commented on #14
@jaroel thank you so much for your great feedback. I will look at it and will share here about how to solve it.

Normally ``AbstractModel``treat any field name started with _ as a comment so ignored.

[2020-06-22 15:10] nazrulworld commented on #14
I see not only datatype String but also all Primitive Datatype support extensibility. Thanks 🙏  a lot again, I am working on it.

[2020-06-22 20:13] mmabey commented on #13
As you can see, it's quite the list... I've copy/pasted the distinct import statements so you can see the specific objects I'm using. I assume you're only interested in the DSTU 2 elements, but just in case it's helpful I've included both DSTU 2 and R4 elements.

[code]

[2020-06-23 11:41] nazrulworld commented on #14
https://github.com/nazrulworld/fhir.resources/commit/d39eedf7fad57c60769e87f1d4a9d281507688b8
Hopefully solved this issue, if you @jaroel find something not working, please reopen again.

[2020-06-23 11:41] #14 closed

[2020-06-23 15:16] mmabey commented on #11
As I mentioned in #12, the recent refactor has removed this bug.

[2020-06-23 15:16] #11 closed

[2020-06-30 05:15] mmabey opened #17 "What's the best way to compare periods?"
* fhir.resources version: 5b989904
* Python version: 3.8.3 🎉
* Operating System: Mac OS 10.15.5

I've been taking a look at the pydantic refactored code, and I think it's going to be a great thing for the project. As I've looked at how to adapt my code to the changes, one thing has come up that I can't quite find a good answer for.

In the project I'm working on, there are lots of instances where

[2020-06-30 07:09] nazrulworld commented on #17
@mmabey first of all thank you much for your help to improve the strength of this package.

However, I can explain about Date, dateTime of FHIR.

1. as we know about flexibility of FHIR date format (some of incompatible with python date, datetime), to keep that in mind, fhirtypes.Date and DateTime returns string value if parts of date provided, for example only year and/or month. [we don't want lo

[2020-06-30 19:07] mmabey commented on #17
This is a very interesting feature of pydantic, thanks for sharing!

If I'm understanding your example correctly, the modified `Period` class would only be accessible to code that imported `Period` from the Python file where this modification takes place, for example (assuming your example is stored in `my_fhir_shim.py`):
[code]

Is this ☝️  correct? If so, I'm not sure it helps me. For all of the

[2020-07-01 00:25] nazrulworld commented on #17
I think you are almost got it, I am trying to minimize some misunderstanding. I am taking your example, the file name is `my_fhir_shim .py`.
1. once this `my_fhir_shim` module is imported anywhere at runtime, for example in your package root `__init__.py` `import my_fhir_shim`  That's all!
2. you don't need to `from my_fhir_shim import Period` and should not worry about whether you are constructin

[2020-07-01 15:11] mmabey commented on #17
That makes so much more sense. Thank you for clarifying! It looks like it will be a while before I'm able to make another attempt at using a root validator in my project. I'll reopen if I'm unable to figure it out. Thanks again!

[2020-07-01 15:11] #17 closed

[2020-07-03 11:03] nazrulworld commented on #13
@mmabey I think all your listed FHIR resources are available under DSTU2 with some tests (hope you already did manual test)

The idea now is like, we will go-ahead of first beta release 6.0.0b1 as soon as possible despite missing many of DSTU2 resources.
1. we will get immediate feedback for R4 and STU3
2. we will continue adding DSTU2 resources alongside fixing bugs and adding features.
3. I can

[2020-07-17 18:32] Primetalk opened #18 "Not required property becomes mandatory"
* fhir.resources version: 5.1.1
* Python version: 3.7.5
* Operating System: linux

### Description

Validating claim without `focal`.

It's mandatory in Python: https://github.com/nazrulworld/fhir.resources/blob/5.1.1/fhir/resources/claim.py#L671

[code]
(Where the last `True` is for `not_optional` or mandatory/required as far as I could see.)

(BTW, the same is true for Golang - https://github.co

[2020-07-18 05:27] nazrulworld commented on #18
@Primetalk thanks a lot for having this issue.
After this issue, I looked at official FHIR doc here https://www.hl7.org/fhir/claim-definitions.html#Claim.insurance.focal
and found it is mandatory!  `Cardinality | 1..1`
All resources are created here based on FHIR Structure definition, not by following JSON schema.

I fully agree about this contradictory situation, do you have any link for your pro

[2020-07-21 07:41] Primetalk commented on #18
@nazrulworld very interesting.

The JSON schema was obtained from https://www.hl7.org/fhir/fhir.schema.json.zip which is mentioned on the page https://www.hl7.org/fhir/downloads.html.

Do you think there is a mismatch between FHIR Structure definition and JSON schema?

[2020-07-21 16:59] nazrulworld commented on #18
I see it's a mismatch situation, we could post https://chat.fhir.org/login/ here.

[2020-07-22 11:11] Primetalk commented on #18
Created a topic https://chat.fhir.org/#narrow/stream/179166-implementers/topic/Mandatory.2Foptional.20fields.20inconsistency.20(docs.2Fjson.20schema)

[2020-08-11 18:12] mmabey commented on #17
For anyone that finds this thread because they want to know how to add a root validator to a pydantic model without touching the model itself, there's one critical thing that was missing from @nazrulworld's example above. The validator function must `return` the values. Here's approximately what I'm doing in my validator:

[code]

[2020-08-11 22:38] mmabey opened #19 "Getting validation errors that don't make sense"
* fhir.resources version: 6.0.0b3 (4bc72ae0f)
* Python version: 3.8.3
* Operating System: Mac OS

### Description

I'm attempting to use FHIR (DSTU2) Bundles I already had in my tests against the current version of fhir.resources (all tests pass with version 5.1.1 of fhir.resources) and I'm getting lots of validation errors. This one is the first I've looked into in depth, but I'm hoping that by f

[2020-08-12 03:14] nazrulworld commented on #19
@mmabey thanks a lot for reporting continues to grow up.
My first confession: all resources in DSTU2 written manually, so there is a good chance for error in each field type!.
I will use look at it soon, hope will be an easy fix.

Side Note: will it be possible for you to add more resources in DSTU2? actually I cannot manage so much time, (have to looking on a professional job, and other open-sour

[2020-08-12 04:17] nazrulworld commented on #19
There was a missing field value `Bundle.type` in text file other I have tested and it's working fine after 🐛  fixes.

[2020-08-12 15:19] mmabey commented on #19
@nazrulworld thanks so much for the bugfix! It also helped me figure out what was causing the other validation issues I was experiencing. As you can see ☝️ I've opened a PR with the fixes.

As far as my availability to contribute to the project, at the moment I only have time to work on contributions as part of my day job. I have received permission to make contributions to this project from my ma

[2020-08-12 16:02] mmabey commented on #19
Hey @nazrulworld, I just had a chat with my team lead, and it would be really helpful if there was an issue filed on this GitHub project that outlines the work remaining to be done on DSTU2 so that my leadership can gauge how much of my time would be spent contributing to this project and if it would be worth it to the company to have me do that. Can you create an issue that lists all the DSTU2 re

[2020-08-13 03:59] #19 closed

[2020-08-13 04:32] nazrulworld opened #21 "Create remaning DSTU2 FHIR resources."
#19
# Description
We have yet many DSTU2 FHIR resources to be created, here the list.

- [x]  [dataelement.py](https://github.com/nazrulworld/fhir.resources/blob/5.X.X/fhir/resources/DSTU2/dataelement.py)
- [x]  [detectedissue.py](https://github.com/nazrulworld/fhir.resources/blob/5.X.X/fhir/resources/DSTU2/detectedissue.py)
- [x]  [devicecomponent.py](https://github.com/nazrulworld/fhir.resources

[2020-08-13 04:35] nazrulworld commented on #19
@mmabey please have a look at #21

[2020-08-17 16:42] mmabey commented on #21
Hey @nazrulworld, just wanted to give you a quick update on this. I am spending time manually creating these resources. There is a chance some of my teammates will also make some contributions too. My management wants to do an internal review before I open any PRs just to make sure everything we're contributing is appropriate. I will try to periodically submit at least partial PRs so you don't hav

[2020-08-17 16:56] nazrulworld commented on #21
Thank you so much.

[2020-09-03 10:43] simonvadee opened #23 "Validation of enum values"
* fhir.resources version: 6.0.0b4.dev0
* Python version: 3.8
* Operating System: macOS

### Description

I want `FHIRAbstractModel` to be able to validate enum values. I think it's already supported by the current version but I couldn't find how to do it.
[code]

I don't quite understand what this means:
`note: Enum values can be used in validation, but use in your own responsibilities, read offic

[2020-09-03 14:20] nazrulworld commented on #23
@simonvadee thank you so much for raising this issue and sorry for any inconvenience.

`note: Enum values can be used in validation, but use in your own responsibilities, read official FHIR documentation.`
Means this validation is not part of built-in model validation, in other words not implemented (but possible to make custom validation depends on project needs (I will give example for this))

W

[2020-09-03 15:03] simonvadee commented on #23
Thank you for the example, now I understand why (and how) enum validation is not enforced by default!

[2020-09-03 15:03] #23 closed

[2020-09-16 14:38] nazrulworld commented on #13
@mmabey should I make another intermediary beta release, or wait until more DTSU2 resources from you?

[2020-09-18 20:32] mmabey commented on #13
@nazrulworld Yeah go ahead. I think it will be a little while before my team and I can dedicate any more time to this.

[2020-09-18 21:11] iatechicken commented on #13
@nazrulworld @mmabey I have some time over the weekend and next week. Can I get like a before and after of the completed DSTU2 resources so that I can try to help out with the remaining items?

[2020-09-18 21:16] nazrulworld commented on #13
@iatechicken you are more than welcome to try with remaining items.

[2020-09-19 15:39] mmabey commented on #13
@iatechicken Take a look at #21. There are a bunch of resources checked off in the main issue description. The resources that I've done that *aren't* checked off yet are:

- EnrollmentResponse
- EpisodeOfCare
- ExplanationOfBenefit
- DataElement
- HealthcareService
- ImagingObjectSelection

So any of the other resources listed (that aren't checked off) would be a good place to start.

@nazrulworld

[2020-09-19 17:40] nazrulworld commented on #13
@mmabey great to hear 💯 about that, anyway added support for ``orjson``, hopefully now JSON serialization/deserialization would way faster!
you are welcome to test that flavor (R4 and STU3 only but we can add for that DSTU2 as well later.)

[2020-09-25 10:25] #18 closed

[2020-10-01 19:55] ItayGoren opened #27 "Version 5 method `__eq__`"
* fhir.resources version: 5
* Python version: 3.8
* Operating System: mac

### Description

As far as I can see, there is no method `__eq__` implemented. Am I missing something? Is it supposed to be added in the future?
Thanks

[2020-10-01 20:16] nazrulworld commented on #27
@ItayGoren you are fully right `__eq__` is not implemented in version 5.x.x.
Thanks a lot for raising this issue, as we are too much focused on releasing 6.x.x, right now, so might not possible to look at this issue. But in the future, of course, it could be done.
Also in the meanwhile, any contribution is welcomed 👍 regarding this issue.

[2020-10-01 23:46] ItayGoren opened #28 "`construct_fhir_element` change the given dict"
* fhir.resources version: 6
* Python version: 3.8
* Operating System: mac

### Description
Running the following code:
[code]
end up changing the value of `d` to `{'resourceType': 'Patient', 'contained': [{}]}`

I would expect it to not change the given object. Moreover, because it doesn't delete `resourceType` from the outter dictionary, I assume this behavior is not expected.
Is it on purpose?
T

[2020-10-04 11:20] nazrulworld commented on #28
@ItayGoren thank you much for your collaborating 👍

[2020-10-04 11:21] #28 closed

[2020-10-11 17:22] ItayGoren commented on #21
Can you please describe shortly how we can help?
Are the resources created manually? What is the convention for names and inner-type names?
Are all the basic types implemented? Such as `Timing` and `Date`

[2020-10-11 17:25] ItayGoren opened #29 "Dates are not converted when using `construct_fhir_element`"
* fhir.resources version: 6.0.0b5
* Python version: 3.8
* Operating System: mac

### Description

When creating a resource with `construct_fhir_element` and specifying a date as a string, the date is not converted to `Date` but rather stay as string. Yet, the regex pattern is verified.

### What I Did
[code]

[2020-10-11 17:27] nazrulworld commented on #21
@ItayGoren if you look at top of the description, any unchecked resources are yet to be done.
//_Are all the basic types implemented?_// yes

[2020-10-11 17:48] mmabey commented on #21
@nazrulworld I was able to spend time on this again this week. I have completed imagingstudy through medicationorder. I can submit a PR soon so you have those resources, but I should be able to continue spending time on more resources this week. I'll try to keep you up to date.

[2020-10-11 18:00] nazrulworld commented on #21
@mmabey good hear 👍

[2020-10-11 18:06] nazrulworld commented on #29
@ItayGoren you got right, as python `datetime.date` requires day, month, year.
So when an only year or year+month is provided, the value would always be the exact string.

[2020-10-12 05:44] ItayGoren commented on #29
isn't this case in contradiction to the purpose of `pydantic`? the purpose of it is to force the fields to be of specific type, but in this case I created it with a different type.
I have 2 suggestions that I think would be better:
1. set the default month and day to 1
2. don't support this case if it's not a valid date

[2020-10-12 08:15] nazrulworld commented on #29
Fully agree with you about the contradiction of `pydantic `, but here we are more strict focused on FHIR specification, thanks to `pydantic` that gives us the option to handle it in FHIR specification way.

By Default
1. we should not modify input value.
2. we cannot do that as according to FHIR Spec, that is valid.

-----------------------------------------------------------

I think currently it

[2020-10-13 18:10] ItayGoren commented on #29
As a developer, I expect the field to be a date. And that the code `datetime.date.today() - patient.birthDate` would always work if `birthDate` is not `None`. I didn't face it on my own in "real" examples. And yet, I'm afraid of such bugs.

[2020-10-15 08:06] ItayGoren commented on #29
I just got such error in production with the following:
![image](https://user-images.githubusercontent.com/67951567/96094701-56facf80-0ed6-11eb-92ba-4cf75fdd6c43.png)
My serializer only supports `datetime` and not `date`. Hence, I had to manually convert all the dates to `datetime`

[2020-10-17 15:32] ItayGoren opened #34 "Default values for list fields"
* fhir.resources version: 6.0.0
* Python version: 3.8
* Operating System: MacOS

### Description

I noticed that all the optional objects which has amount of `0...1` are defaulted to `None` which is logical.
Why do we set the default value for fields with amount `0...*` to be `None` as well and not `[]`?

[2020-10-17 21:48] ItayGoren opened #37 "DSTU2 Specimen resource has invalid fields"
* fhir.resources version: 6.0.0
* Python version: 3.8
* Operating System: MacOS

### Description

While writing tests I found a bug in `Specimen` resource. It looks like his backbone elements are not defined correctly. I'm not sure what I am missing.
A result for example:
[code]
You can run the tests in the following branch:
https://github.com/ItayGoren/fhir.resources/tree/bug-with-specimen

Thank

[2020-10-22 12:43] nazrulworld commented on #37
@ItayGoren I think it's not a bug inside the `Specimen ` resource rather than a problem in deeper. I can generate this by using  https://www.hl7.org/fhir/DSTU2/uslab/spec-uslab-example1.json this example.

Currently, there is no support for [fhir comment ](http://www.healthintersections.com.au/?p=2569), I believe it's because of that. I have a plan to work on it.

[2020-10-22 12:46] nazrulworld opened #38 "Add support for FHIR comments"
Like **Grahame Grieve** description there should support for [fhir_comment](http://www.healthintersections.com.au/?p=2569). Other than we are facing some trouble like #37

[2020-10-23 21:40] #38 closed

[2020-10-23 21:42] nazrulworld commented on #37
Ok @ItayGoren finally! the problem is revealed https://github.com/ItayGoren/fhir.resources/blob/bug-with-specimen/fhir/resources/DSTU2/specimen.py#L140 you see there `resource_type` is missing!
I am fixing it.

[2020-10-23 21:47] #37 closed

[2020-10-27 19:26] ytitov opened #39 "Example 5 and Encounter validation is failing"
Greetings, I am investigating this library to use in a ETL step for a data integration and looking to create FHIR data structures.  I've never used pydantic before so please forgive my ignorance :)  Could I get some help with why this is failing?

* fhir.resources version: commit: f35c98f248889e78ad5adcceec5d1e93eb520ece (most recent)
* Python version: 3.7.9
* Operating System: Windows 10

### Des

[2020-10-27 21:24] nazrulworld commented on #39
@ytitov first of all thanks a lot for reporting this issue.

1. `Encounter(**{"class": 'inpatient', "status": "planned"})` this obisouly validation error as `class` should be `Coding` type dict instead of string, for example `Encounter(**{"class": {"code": 'inpatient'}, "status": "planned"})`. But I am fully agree with you about confusing error message, I will work on it.

2. I cannot reproduce th

[2020-10-28 01:40] ytitov commented on #39
@nazrulworld First, thanks for your responses.

1. You're right, my object was invalid, but I really wish the error message made sense.  Unfortunately I am not a python expert, just a user :)

2. To replicate:
- create a new environment (I used python 3.7.9 because that is the maximum stated supported version)
- enter the environment, git clone master, and I tried two methods of installation (indi

[2020-10-28 08:52] nazrulworld commented on #39
@ytitov I can confirm that problem to be reproducible in my PC

[2020-10-28 14:27] ytitov commented on #39
@nazrulworld looks like downgrading to pydantic 1.6.1 fixes my issue

[2020-10-28 17:46] mmabey commented on #34
**TL;DR**

What you're suggesting is already taken care of automatically by Pydantic.

**Verbose Explanation**

This really comes down to how Pydantic uses the "default" value. If you take a look at the [docstring for that field](https://github.com/samuelcolvin/pydantic/blob/master/pydantic/fields.py#L146), you'll notice that what that parameter is actually allowing you to do is *replace* the defa

[2020-10-28 20:34] #39 closed

[2020-10-28 20:40] nazrulworld opened #40 "Make fhir primitive element field optional if extension value is provided."
https://www.hl7.org/fhir/extensibility.html#Special-Case

Certainly SMART doesn't impose any limits on how FHIR JSON works -- it sounds like there's some question about how FHIR treats extensions that are present *in place of* required elements.  https://www.hl7.org/fhir/extensibility.html#Special-Case provides the official guidance to corroborate @**Md Nazrul Islam**'s note above that "Maybe... w

[2020-10-29 10:02] ItayGoren commented on #34
Look at:
[code]
it prints:
[code]
Yet, the field itself has the declaration:
[code]
And calling `print(Patient().name)` gives `None`.
Hence, what you are saying is not what actually happen.

[2020-10-31 08:04] #40 closed

[2020-11-02 01:46] sbwhitney commented on #40
Impressive turnaround time. Thank you @nazrulworld. 👍

[2020-11-09 18:32] sbwhitney opened #41 "pydantic.errors.ConfigError: duplicate validator function"
* fhir.resources version: 6.0.0b9
* Python version: 3.7
* Operating System: AWS Lambda/Jenkins/Docker/localstack/Linux

### Description

Tried to redeploy an AWS Lambda function to localstack from a Jenkins container. Deploy works the first time, but subsequent deploys throw the error below after updating the Python lambda function code.

### What I Did

The error seems to be thrown when importing

[2020-11-09 20:40] sbwhitney commented on #41
Perhaps we would need to set the boolean to True for allow_reuse wherever @root_validator is called:

https://github.com/samuelcolvin/pydantic/blob/31bc2435d7968fdf8d1f0c5c67f0f851c1bef54e/pydantic/class_validators.py#L106

[2020-11-09 20:57] nazrulworld commented on #41
@sbwhitney do you add more root validator on  CapabilityStatement or any custom root validator added named `validate_required_primitive_elements `
Just trying to understand to reproduce this error :)

[2020-11-09 21:16] sbwhitney commented on #41
We don't add any additional root validator.

[2020-11-10 15:55] nazrulworld commented on #41
@sbwhitney
I have spent some time on this error, which seems interesting to me and also a bit unusual (I cannot re-produce in my local).

As far as I understand the reason might be cache or thread or Jenkin container issue (I really don't have the full idea) if you  look at here https://github.com/samuelcolvin/pydantic/blob/31bc2435d7968fdf8d1f0c5c67f0f851c1bef54e/pydantic/class_validators.py#L44

[2020-11-13 15:56] sbwhitney commented on #41
@nazrulworld How would we compromise integrity if we set `root_validator` to `allow_reuse=True`?

[2020-11-14 10:20] nazrulworld commented on #41
@sbwhitney
´compromise integrity´ meant by me, for example, if two root validators func are created with the same name for a class now we are getting this ConfigError (which is good) and if we reuse true, silently second validator function will work by nature. [honestly speaking this could be a very rare case]

I see you opened an issue at padantic, which is so nice 👌 , let's see their reaction af

[2020-11-14 18:36] sbwhitney commented on #41
Good news. I figured out what the root cause is. It turns out that the way we're importing was causing the issue.

`@root_validator` would fail when we do this:

`from fhir.resources.capabilitystatement import CapabilityStatement`

I resolved the conflict by doing this:

`from fhir.resources import capabilitystatement`

This seems to be a very narrow edge case when we deploy lambdas to localstack.

[2020-11-14 21:28] sbwhitney commented on #41
Turns out the issue just moves downstream.

This works:
`def create_hin_cap_statement(data, event):
    f_date = datetime.datetime.now()

    metadata = {
        "status": "active",
        "kind": "instance",
        "fhirVersion": "4.0.1",
        "date": f_date,
        "format": ["application/fhir+json"],
        "publisher": "Cigna, Inc.",
    }
    cap_statement = capabilitystatement.Capabi

[2020-11-14 21:41] sbwhitney commented on #41
Not sure why it works locally and in AWS environment but not localstack. There are 12 methods with the same name in capabilitystatement which seems to be the issue:

validate_required_primitive_elements

[2020-11-14 21:50] nazrulworld commented on #41
It is working in Travis CI as well without complaining. `f_cls.__func__.__module__ + '.' + f_cls.__func__.__qualname__ ` that should ensure 12 unique name of validate_required_primitive_elements. as those same name 12 methods are individually assigned to 12 classes.

Is this only for `capabilitystatement `, you are facing this kind of problem or for all?

[2020-11-14 21:51] sbwhitney commented on #41
Here's an example where the same behavior occurs in ipython and they fixed it:

[2020-11-14 21:53] sbwhitney commented on #41
I'm not certain if it occurs for all but I would assume so.

Thank you so much.

[2020-11-15 17:37] nazrulworld commented on #41
@sbwhitney https://pypi.org/project/fhir.resources/6.0.0b10/

[2020-11-15 17:37] #41 closed

[2020-11-20 03:11] hackermd opened #42 "FHIR Reference does not resolve references in Bundle"
* fhir.resources version: 5.1.1.
* Python version: 3.8

### Description

Resolution of references within a Bundle fails unless an instance to a server is provided (and a couple of additional undocumented assumptions are met).

The problem is in [fhir.resources.fhirresource.FHIRResource.resolved()](https://github.com/nazrulworld/fhir.resources/blob/5.1.1/fhir/resources/fhirreference.py#L62-L82). In

[2020-12-04 19:30] nazrulworld commented on #21
@mmabey will you have some time to add more missing resources? Other than maybe I will create some as much as possible and before the new year, we may release the final/stable version (even some DSTU2 resources are remaining)

[2020-12-04 21:44] mmabey commented on #21
@nazrulworld Probably not anytime soon, sorry.

[2020-12-04 22:13] iatechicken commented on #21
I can spend some time on this over the weekend. These are the same DSTU2 resources that I was working on right?

[2020-12-05 08:18] nazrulworld commented on #21
@iatechicken yes

[2020-12-08 16:11] themantalope opened #44 "how to use the 'server' attribute?"
Hi all,

This is a really amazing library. I'm a physician, and I'm starting to learn about FHIR and how to use it and this library has been a great starting place.

I'm having a hard time finding documentation on the 'server' attribute that is found in many objects. For example if I create a new patient:

[code]

There is now a `new_p.server` attribute. I would like to know if I set the server at

[2020-12-08 20:47] nazrulworld commented on #44
Hi @themantalope
This is the library is the pure python representation of https://www.hl7.org/fhir/resourcelist.html. There is no attribute like  ``create``,  ``search``.
I think you can use this https://pypi.org/project/requests/ library to connect to the server (create and search)

You can use ``fhir.resources`` to validate incoming data or validate data before creating a resource for the server

[2020-12-09 18:02] #44 closed

[2020-12-09 19:30] themantalope commented on #44
Thanks for letting me know!

[2020-12-11 17:23] dragos-dobre opened #45 "Contained Resources"
### Description

I need to implement the Contained Resources (https://www.hl7.org/fhir/references.html#contained) and to send the reference resources inside the referred resource. In my case, I need to send a Claim with all reference resources:  Patient, Condition, etc.

Is this feature available in fhir.resources?

Thanks.

[2020-12-11 20:48] nazrulworld commented on #45
Yes, should be possible.
If you face any problem let us know.

[2020-12-11 20:55] #45 closed

[2020-12-12 19:55] garry-jeromson opened #46 "Support for FastAPI pydantic response models"
FastAPI supports using pydantic models to define JSON response bodies for REST API endpoints; making FHIR resources compatible with this support would take the usability of the library to a higher level.

I'm new to the library so I don't know more about how it uses pydantic other than what is stated in the README; in any case, however pydantic is currently used, it doesn't seem to be compatible o

[2020-12-12 20:42] nazrulworld commented on #46
I think we have support the FastAPI typing methodology.
try
[code]

[2020-12-15 15:52] #13 closed

[2020-12-15 15:52] #21 closed

[2020-12-17 17:43] Healthedata1 opened #47 "add YAML support"
* fhir.resources version: latest
* Python version: 3.6+
* Operating System: MAC/Windows/Linux

### Description

would like to add native YAML support so that a Resource object can be created from YAML object or file and serialize as a YAML string.

e.g:
[code]

 and

[code]

and

[code]

[2020-12-17 18:51] nazrulworld commented on #47
This seems is a very good idea 💡 and also I think this will open up to support for XML. For me, I could try after the holiday season ends (after the new year) but anyone welcomes to try now.

[2021-01-06 10:41] garry-jeromson commented on #46
Thanks! This kind of works, in that the code runs, but the response model is incorrect and it doesn't play nice with FastAPI's OpenAPI documentation generation:

- The OpenAPI doc generators can't parse the response model,  and gives the message `"Unknown Type: Practitioner"`
- The response model contains a bunch of private fields:

[code]

If improved FastAPI support is something you'd be open to

[2021-01-06 14:13] nazrulworld commented on #46
@garry-jeromson you are welcome to make your pull requests. we are fully open to add any new feature.
Just keep in mind that the new feature should not make any new mandatory package dependency as well as not violating FHIR Resource specification.

[2021-01-19 14:55] SevKohler opened #49 "Creating empty Resource Object and setting parameters via setters ?"
Is there any option to create an empty Resource Object and set the Parameter via setters ?
In the old version this worked as shown below:
[code]

[2021-01-19 16:18] nazrulworld commented on #49
if you look at the readme.
[code]

[2021-01-19 16:55] SevKohler commented on #49
Thanks, my bad !

[2021-01-19 16:55] #49 closed

[2021-01-27 03:02] hackermd commented on #42
@nazrulworld any thoughts on this?

[2021-01-27 06:40] nazrulworld commented on #42
@hackermd I am so sorry for the late reply. Unfortunately from the version of 6.x.x, this library is completely standalone, it does not any idea about any server info/connection so unable to resolve the reference. Now it's the developer's responsibility to create a resolver according to his/her own business logic. For example https://github.com/nazrulworld/fhirpath/blob/master/src/fhirpath/utils.p

[2021-01-27 12:06] hackermd commented on #42
Thanks for your feedback @nazrulworld. It seems version 6 introduced several breaking API changes. You have listed three in the README, but it would be great if you could document these changes more comprehensively.

[2021-01-28 13:30] apollo13 opened #50 "Add the ability to map pydantic validation errors to proper FHIR error locations"
* fhir.resources version: Any
* Python version: 3.8+
* Operating System: Fedora 33

### Description

I think it would be great if it where possible to map pydantic validation errors to proper fhir locations for `OperationOutcome' https://hl7.org/fhir/STU3/operationoutcome.html#loc

Do you have some thoughts/guidance on that. I might try to implement something like that.

[2021-01-28 18:50] nazrulworld commented on #50
You are more than welcome to do try and share your thoughts

[2021-01-28 19:30] apollo13 commented on #50
I am currently using this:

[code]

It seems to work fine and generates response ala:
[code]

Granted, it might not be perfect but it already looks rather nice.

[2021-02-04 01:23] challavamsi opened #51 "Help on converting XML to FHIR format"
* fhir.resources version:
* Python version:
* Operating System:

### Description
Hi I am a newbie to FHIR data formats. This might be a dumb questions as well,  is there any easy way to convert bunch of XML's to FHIR format? any suggestions on  blog/tutorials for reference?

Any help is appreciated!!
Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you ex

[2021-02-05 15:50] PeteW opened #52 "(version 6) How to build resources with extensions from dict?"
* fhir.resources version: 6.0.0
* Python version: 3.6.8
* Operating System: CentOS 7

### Description

I'm trying to construct a basic resource with extension fields. In the example below I'm trying to add an extension to Patient resource.

### What I Did

[code]

[code]

[2021-02-05 16:35] nazrulworld commented on #52
As far as know, there is no element/field name, called  ``banana``, you can make  extensions only for available fields/element
For example:

[code]

[2021-02-05 17:13] PeteW commented on #52
Thanks for the quick response.  That variable `banana` is sort of tongue-in-cheek, but the point was we often have requirements to exchange some resource such as `Patient` but we also must include a series of internal/proprietary key/value pairs of metadata related to the resource (better examples:  "created by", "internal-department-id", "origin-system-category" etc...)

My interpretation is that

[2021-02-05 17:50] PeteW commented on #52
Not sure if this is the "right" way to do this, but I ended up sub-classing the fhir resources and add new fields where needed.

[2021-02-05 20:29] nazrulworld commented on #52
You can have a look at https://www.hl7.org/fhir/auditevent.html
I am not fully sure if it is a good idea but you can put AuditEvents inside `Patient.contained`

Other options could be, create extensions and append `Patient. extension `

[2021-02-06 00:02] PeteW commented on #52
I like your latter suggestion, create extensions and append `Patient.extension` .
I will close this one up.

[2021-02-06 00:02] #52 closed

[2021-02-07 08:55] ItayGoren opened #53 "publish new version"
Hey,
When would the new version be released with the changes in the change log?
Thanks

[2021-02-07 16:08] nazrulworld commented on #53
I was thinking to add support to some features related to https://github.com/nazrulworld/fhir.resources/issues/47, but honestly speaking, for me, cannot manage time!
So I think a new release should be soon as possible.

[2021-02-08 16:50] #27 closed

[2021-02-08 21:40] julsas opened #54 "Error creating resource object"
* fhir.resources version: 6.0.0
* Python version: 3.6.9
* Operating System: ubuntu

### Description

Creation of resource objects fails for some data types when parsing and creating resource objects from json data. This is the case for decimal within e.g. Quantity and for datetime. Calling .dict() on the object does not return a valid python dict.

### What I Did

[code]

[2021-02-09 09:23] nazrulworld commented on #54
It is always recommended that use the built-in method ``json``.  For example in your case
[code]
If you really want to use json.dumps (python built-in), then you have to do a little bit of extra

[code]

[2021-02-09 09:33] julsas commented on #54
Thanks for the clarification! I hadn't figured out that I needed the pydantic_encoder.

[2021-02-09 09:33] #54 closed

[2021-02-15 15:26] sbwhitney opened #55 "Any resource: "id" element fails validation with underscore in value"
* fhir.resources version: 6.1.0
* Python version: Python 3.8.6
* Operating System: Linux

### Description

If resource.id element has an underscore, validation fails

### What I Did

[code]
pydantic.error_wrappers.ValidationError: 1 validation error for Patient
id
  string does not match regex "^[A-Za-z0-9\-.]+$" (type=value_error.str.regex; pattern=^[A-Za-z0-9\-.]+$)

[2021-02-15 16:54] sbwhitney commented on #55
@nazrulworld I can make a PR request to update this line:

https://github.com/nazrulworld/fhir.resources/blob/9e81ed05607389158f5fc997d9a3ab19bd18e6e1/fhir/resources/fhirtypes.py#L136

But would you want to update for all FHIR versions?

`^[A-Za-z0-9\-_.]+$ ` would be the new regex

[2021-02-15 17:19] nazrulworld commented on #55
First of all @sbwhitney thanks a lot for this issue.
If you look at FHIR specification https://www.hl7.org/fhir/datatypes.html#id by default (_) is not allowed. So the default behavior is  `regex = re.compile(r"^[A-Za-z0-9\-.]+$")`  (should be if your system communicate to other system)
But it is possible to override this behavior. https://github.com/nazrulworld/fhir.resources#resourceid-aka-fhirt

[2021-02-15 17:29] sbwhitney commented on #55
Thanks for the info @nazrulworld. Much appreciated. No PR necessary as underscore (_) is disallowed.

[2021-02-15 17:30] #55 closed

[2021-02-23 15:55] chgl opened #56 "Validation error if resource id is set before any mandatory fields"
* fhir.resources version: 6.1.0
* Python version: 3.9.0 (64-bit)
* Operating System: Windows 10/Linux

### Description

It seems that the validation success depends on when `resource.id` is set - at least that's my interpretation for now. Is this expected behavior?

### What I Did

The following crashes with a validation error:

[code]

[code]

but switching `o.id` and `o.status` around works fine

[2021-02-23 21:19] nazrulworld commented on #56
First of all thanks a lot for your nice input!
Let me explain why this happening:
1. we are using `validate_assignment = True` in the BaseModel class's meta config because we want to make sure the right value would be assigned to each field.
2. So when `validate_assignment` value is True, pydantic call behind the scene call any pre/post root validator before it assigns field value (with validation

[2021-02-23 21:28] chgl commented on #56
Thank you for the detailed explanation! The new validation support is incredibly helpful (although the initial migration was a bit painful:). Great work!

Is it OK if I create a PR and update the README.md's "Example: 5:" with a reference to this issue/your comment?

[2021-02-24 08:58] nazrulworld commented on #56
You are always welcome 🙏  to make any PR.
Good luck!

[2021-02-24 17:15] #56 closed

[2021-03-01 15:17] nazrulworld commented on #53
I am sorry to see that you are not notified, I should notify you.
 https://pypi.org/project/fhir.resources/6.1.0/

[2021-03-01 21:53] sambarnes opened #58 "Question regarding typing and mypy"
* fhir.resources version: 6.1.0
* Python version: 3.7.5
* Operating System: Ubuntu 18.04

### Description
Hey there! Thanks for all the great work on this package! Looking to start using this pretty heavily internally, so many niceties come out of the box with pydantic-based libraries like this.

One slight hiccup I'm seeing in the dev experience is the mismatch between the type annotation and the

[2021-03-02 07:12] nazrulworld commented on #58
First of all, thank you so much for your nice question and welcome.
``AddressType `` is derived from ``AbstractType`` (derived from dict). Yes theoretically we can say that `AddressType` is looked like a plain dict wrapper, but the behavior is completely different.  The `AddressType` is pydantic field type which is evaluating and validating input data and return Address object!
In your case if you

[2021-03-02 07:48] #34 closed

[2021-03-02 14:08] sambarnes commented on #58
I really appreciate the prompt response!

After posting the question, I did a little more reading of the internals and found what you described above. I now see that it's the `AddressType` performing the validation and returning a new `Address`. I think I have a better idea of how it works now.

In the code that you've posted above (`address_pydantic = Address(**patient.address[0].dict())`), mypy

[2021-03-02 15:49] nazrulworld commented on #58
Thanks a lot for your clarification! 💯
The short answer to your question is that to avoid the python circular dependency import problem.

Honestly speaking I had also thoughts like you, but cannot find a good solution than the current one. FHIR resources relationships are a little bit complex and two-way (kind of circular) in some cases.
One example I can give you https://github.com/nazrulworld/fh

[2021-03-02 18:06] sambarnes commented on #58
Ahh that makes total sense! I had a suspicion that the complex relationships might create circular dependencies.

Appreciate the insight you've been able to provide!  We'll just continue to cast for now, and maybe investigate if a small mypy plugin can be written to automatically cast to the right type during typechecks

Closing :)

[2021-03-02 18:06] #58 closed

[2021-03-03 07:02] ShaikhSuf opened #59 "How to build a Model in Django using this Package"
* fhir.resources version: 6.1
* Python version: 3.8
* Operating System: iOS

### Description

There's no issue as such. I'm trying to create a Django model using this project, for example, the patient resource.

Does this package support creation of a model?

[2021-03-03 08:14] nazrulworld commented on #59
Most probably you cannot just represent directly Patient Resource as DJ Model, instead, you can create a Patient model which could have field name `resource` and type is JSON so this field will contain the whole resource.

But I think there could be another better solution.

[2021-03-03 11:27] #53 closed

[2021-03-03 13:20] ItayGoren opened #60 "Mypy errors accessing resources fields"
Im using python 3.8 and trying to upgrade from version 6.0.0b5 to 6.1.0.
The code is
[code]

When using version 6.0.0b5 and running `mypy --ignore-missing-imports a.py` I get:
`Success: no issues found in 1 source file`

Using version 6.1.0 and running the same function I get:
[code]

Looking at the classes, we can see that the annotations are using `FooType`, for example `CodeableConceptType` and

[2021-03-03 14:42] nazrulworld commented on #60
Related issue https://github.com/nazrulworld/fhir.resources/issues/58

I don't think we did some changes (from 6.0.0b5 to 6.1.0) related to Mypy/linting.

Are you using the same mypy version or upgraded?

[2021-03-03 16:47] nishank974 opened #61 "ExplanationOfBenefit"
* fhir.resources version: 6.1.0
* Python version: 3.8.3
* Operating System: MacOS Catalina

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

I have a record of ExplanationOfBenefit in json format.
When I pass it to fhir.resources.ExplanationOfBenefit it get the following error.

`
ValidationError: 2 validation err

[2021-03-03 21:25] nazrulworld commented on #61
I see from your error message that
`ExplanationOfBenefit. created `and ` ExplanationOfBenefit. outcome` values are missing, those are required http://www.hl7.org/fhir/explanationofbenefit.html
as per specification.

[2021-03-03 23:41] ShaikhSuf commented on #59
My goal is to mimic the resource models in Python to be in sync with resources.

Thanks for the suggestion, though.

[2021-03-04 11:29] ItayGoren commented on #60
same one. the problem is that we didnt have typing before - it didnt find it and because i use `--ignore-missing-imports` i had no problems

[2021-03-04 18:46] #61 closed

[2021-03-07 09:18] nazrulworld commented on #47
@Healthedata1 what should be the proper mime type for YAML? some folk suggest ``text/yml` or `application/x-yaml`
https://stackoverflow.com/questions/332129/yaml-media-type
I don't find any definition inside python's built-in module ``mimetypes``

[2021-03-15 23:58] lee-hyunkyu opened #62 "contact.telecom.extension.valueUrl does not validate phone number values"
* fhir.resources version: 6.1.0
* Python version: 3.7
* Operating System: Ubuntu 18.04

### Description

I'm trying to construct a `Patient` resource after fetching it via a FHIR call.

### What I Did
I fetched some data and tried to construct it using the `Patient` model class.

The contact field for the resulting patient information was

[code]

[code]

The [url rfc](https://tools.ietf.org/html/

[2021-03-16 03:51] nazrulworld commented on #62
One solution could be if possible change ``valueUrl `` to ``valueString``.  But it is not possible to turn that validation off.

[2021-03-16 08:22] VictorSaraiva opened #63 "resourceType last key instead of first in json"
* fhir.resources version: 6.0.0
* Python version: 3.7
* Operating System: windows 10

### Description

I've built a diagnostic report resource but when I print json the resourceType is the last key. I was expecting the resourceType to be the first key. How can I fix this? please

### What I Did

[code]
{"identifier": [{"value": "21-48608871"}], "issued": "2021-03-05T11:45:33+11:00", "status": "fin

[2021-03-16 10:25] nazrulworld commented on #63
Unfortunately ``.json()`` and ``.dict()`` are not following any order. I am also thinking about ordering if possible to implement.

[2021-03-17 01:20] VictorSaraiva commented on #63
Thanks for the quick response. it would have been nice to have the resourceType as the first key, it would have made the json result more readable.  I'm closing the ticket.

[2021-03-17 18:05] lee-hyunkyu commented on #62
Unfortunately that's not possible. Going to close the issue since we found a workaround

[2021-03-17 18:05] #62 closed

[2021-03-18 02:23] VictorSaraiva commented on #63
Issue can be closed

[2021-03-25 02:00] Healthedata1 commented on #47
I don't have an opinion.  It seems from the pydantic CRs that just using the yaml dump and load methods is the preferred choice.

e.g.

## Testing out fhir.resources

#### start with fhirstring class...

[code]

[code]

    '{"resourceType": "Patient"}'

[code]

    resourceType: Patient

[code]

[code]

    active: true
    address:
    - city: Anytown
      country: USA
      line:
      - 100 M

[2021-03-25 03:04] Healthedata1 commented on #51
convert bunch of XML's to FHIR format?  I  think you mean xml to json.  One way is to use the convert operation on a reference server:  https://build.fhir.org/resource-operation-convert.html

There are also tools that do this too

[2021-03-25 03:54] nazrulworld commented on #51
I think that kind supporting is coming soon. https://github.com/nazrulworld/fhir.resources/tree/yaml-xml-support [working in progress]

[2021-03-27 16:18] Healthedata1 commented on #46
Can FHIRAbstractBase be a subclass of pydantic's BaseModel and would that fix this issue?  Seem's like the obvious answer but I'm sure this is naive.

[2021-03-29 10:53] ItayGoren commented on #60
I continued to think about this problem and correct me if im wrong, but the `ClassNameType` is used because without it there is a circular imports flow. This circle occur because of `Extensions` which holds primitives and each primitive holds `Extension`. Is that the case?
If so, putting all of them in the same file would solve it. What do you think about it?
Another solution, is specifying the an

[2021-03-29 11:49] nazrulworld commented on #60
you are right that primarly `ClassNameType` is used to solve FHIR's two-way relationship which introducing circular dependency. but this typing is also used as Pydantic field validator!

`putting all of them in the same file would solve it. What do you think about it?` I don't think that will solve the problem beside the problem, not just inside Extension, other places as well.
For example see rel

[2021-03-30 16:11] ItayGoren commented on #63
@nazrulworld i see you fixed it in ref:ff4e8c3 - did it affect the performance?

[2021-04-01 16:57] nazrulworld commented on #47
@Healthedata1 did you try the latest beta release yet?

[2021-04-01 19:17] Healthedata1 commented on #47
not yet, but I will. I am going through the FastAPI spec hoping to generate
swagger docs using the models but I see that there are some issues with
that.

Eric

Eric M Haas, DVM, MS
Health eData Inc
35 Crescent Avenue, Sausalito, CA 94965
707.227.2608|Skype: haas.eric1
***@***.***

On Thu, Apr 1, 2021 at 9:57 AM Md Nazrul Islam ***@***.***>
wrote:

[2021-04-02 20:03] EricPHassey opened #65 "Why is Address Line inputted as a List?"
I'm new to FHIR, but I'm confused why the address "line" is required to be a list? According to the official documentation it should be a string.

https://www.hl7.org/fhir/datatypes-definitions.html#Address.line

[2021-04-03 03:02] nazrulworld commented on #65
First of all, welcome to arena of FHIR.
Anyway if you look at the cardinality, it states 0..*.
This means line variable could occur zero time (optional) or multiple times. As it's data type is String, so list of optional string.

[2021-04-03 03:52] EricPHassey commented on #65
@nazrulworld Thank you for teaching me that. Just curious, when would you ever want to have multiple addresses (other fields I can understand I'm sure).

Also, thank you for this wonderful package as well.

[2021-04-03 04:18] nazrulworld commented on #65
It completely depends on the use case,
If you look https://www.hl7.org/fhir/valueset-address-use.html and https://www.hl7.org/fhir/valueset-address-type.html

One person could have work and home together and also an Organization could have separate postal and physical address.

[2021-04-04 08:41] #59 closed

[2021-04-08 16:11] mmabey commented on #29
I've been thinking about this issue a lot recently. I think what I would like to do is create a customized `datetime` type that can handle these cases so that the conversion from the FHIR types of `Instant`, `Date`, and `DateTime` all return objects that not only are compatible with the native Python types, but also allow for comparison in ways that make sense while accounting for the flexibility

[2021-04-14 17:12] mmabey commented on #29
Okay, so I have a lot of the work done on a new data type for FHIR date/datetime values. One thing I could use some feedback on is what makes the most sense when comparing two objects that have different granularity. For example, would you expect the following to return `True` or `False`?

[code]

What I've been leaning toward is making the first two examples above return `True` (for the reasons s

[2021-04-14 22:05] nazrulworld commented on #29
@mmabey great works!
In my opinion, the first and seconds are false and the last one is true. My argument here,  as one operand has only a year so we compare with year, not assuming any month (before / after).

We can do some tests here http://hapi.fhir.org/resource . To see how they manage this situation. For example create the same resources with different dateTime, after then search with eq,lt,

[2021-04-16 23:09] mmabey commented on #29
@nazrulworld you're right about the comparisons. I'm not sure why my intuition was off on that, but I confirmed with the HAPI FHIR sandbox that only the populated fields are compared, so the above examples should return `False`, `False`, and `True` like you said.

I've packaged everything up and pushed to GitHub: https://github.com/mmabey/fhirdatetime and I would love your feedback, especially on

[2021-04-18 07:41] nazrulworld commented on #29
First of all, congratulation on the nice work.
I will also look at it to see how things work with the default parser.
One thing about main class Name, zope foundation already have https://pypi.org/project/DateTime/ class name, ´´DateTime´´
would be nice to rename it.

[2021-04-19 16:23] mmabey commented on #29
I'm not very concerned with that name collision because `DateTime` is the name of their project on PyPI, but mine will be `fhirdatetime`. So with their code you do:

[code]

And with mine you do:

[code]

[2021-04-19 18:56] RokshanJ opened #67 "FHIR Version Converter"
Hi @nazrulworld

Does this support the FHIR version converter (Hapi-fhir-converter)? e.g. dstu2 to r4, r3 to r4.

[2021-04-19 21:56] nazrulworld commented on #67
Unfortunately not.

[2021-04-20 19:14] #67 closed

[2021-05-07 22:26] rectalogic opened #72 "DateTime is not FHIR spec compliant"
* fhir.resources version: 6.1.0
* Python version: 3.8.5
* Operating System: Ubuntu Focal

### Description

The fhir.resources `DateTime` object is not spec compliant. The spec (and the doc comments) both require a `+zz:zz` or `Z` timezone suffix, it is using `datetime.isoformat()` which does not do this. Python `isoformat()` violates ISO8601 https://stackoverflow.com/a/23705687/1480205

See `DateT

[2021-05-07 22:42] rectalogic commented on #72
I think the fix is to always specify a timezone on our `datetime` - with no timezone `isoformat()` is not ISO8601 compliant

[2021-05-07 22:42] #72 closed

[2021-05-26 03:40] Healthedata1 opened #73 "treating empty lists ('[]') as None"
* fhir.resources version:  R4
* Python version: 3.7.3
* Operating System: Mac OS

### Description

I am creating a FHIR object using the models and a spreadsheet as a source
When there is repeating element and their is no data in the source, my code creates an empty list.
This empty list is preserved unlike when the element is None.  I think when an element is evaluated to these Falsy types listed

[2021-05-26 04:20] Healthedata1 commented on #73
never mind :-)

[2021-05-26 04:20] #73 closed

[2021-05-26 04:33] Healthedata1 opened #74 "When are Falsy values evaluated as None?"
* fhir.resources version:  R4
* Python version: 3.7.3
* Operating System: Mac OS

### Description

I am creating a FHIR object using the models and a spreadsheet as a source
When there is repeating element and their is no data in the source, my code creates an empty list.
This empty list is preserved unlike when the element is None.  I think when an element is evaluated to these Falsy types listed

[2021-05-28 18:22] nazrulworld commented on #74
I fully agree with you, that an empty list should be ignored just a null value.

[2021-05-29 16:56] Healthedata1 commented on #74
Although I can see the argument for persisting an empty list when building an instance.  You might want to append items in a subsequent step.  So it would not always be desirable behavior.  Maybe the class could preserve the list, but the methods would "scrub" them or not based on a parameter?

[2021-05-30 09:14] nazrulworld commented on #74
All are default behaviors from the ``Pydnatic`` but It is possible to change that empty list, dict to None during serialization. I will work on it.

[2021-06-01 18:29] Healthedata1 commented on #74
Thanks!

[2021-06-07 20:21] alysivji commented on #65
When searching for a search for a patient by an identifier, I am returned a Bundle that contains a single Patient. The Patient's address field looks as follows:

[code]

When converting the JSON into a Bundle, I get a pydantic error because the empty string in `line` causes a ValidationError. How do you recommend I handle this situation?

[2021-06-08 07:59] nazrulworld commented on #65
As far as I see `""` in the line list, which not a valid string according to FHIR Specification, that's why you are getting validation error.

[2021-06-08 11:45] alysivji commented on #65
Totally understand that an empty string is not valid according to FHIR, but this is what is coming out of a production Epic instance. It's unfortunate that real-world use cases do not comply with the spec, but it's to be expected since data is messy.

Do you have suggestions on how to reconcile messy data with the FHIR specification?

Great library BTW! Makes parsing FHIR payloads straight-forward

[2021-06-08 14:08] nazrulworld commented on #65
One easy solution could be to patch (depends which fhir version you are using) https://github.com/nazrulworld/fhir.resources/blob/main/fhir/resources/fhirtypes.py#L99
class String. regex = re.compile(r".*")

[2021-06-10 16:09] nazrulworld commented on #65
@alysivji if you follow the referenced commit, now String type is configurable!
[code]

[2021-06-10 16:15] alysivji commented on #65
Thank you for adding this in! 🙏

[2021-06-20 10:54] ItayGoren opened #75 "Remove "tests" from installed package"
* fhir.resources version: latest
* Python version: 3.8
* Operating System: everything

### Description

When installing the package, the "tests" folder is being installed which takes 10MB from the system. It might not sound a lot but when using AWS serverless applications, you have 250MB storage and 10MB can be critical.
The problem is in the project "setup.py" by using "find_packages" which finds

[2021-06-20 12:00] nazrulworld commented on #75
Thanks a lot, I will take care of it

[2021-06-22 20:54] #75 closed

[2021-07-01 00:30] Healthedata1 opened #76 "code validation questions"
* fhir.resources version: current
* Python version: 3.7
* Operating System: Mac OS

### Description

when instantiate a FHIR Resource with a required valueset - Observation.status,  I expected it to be validated based upon the fixed set of codes  ( http://hl7.org/fhir/valueset-observation-status.html ).  What is the status of code validataion?  I think that it would possble to at least validate th

[2021-07-01 00:49] Healthedata1 commented on #76
I just saw this: https://github.com/nazrulworld/fhir.resources#enum-validator

[2021-07-01 20:20] Healthedata1 opened #77 "How to discover the element type?"
* fhir.resources version: current
* Python version: 3.7
* Operating System: Mac

### Description

Describe what you were trying to get done.

I am trying to discover the simplest and most direct way to discover the type for an element:

ideally this :
[code]

obviously this isn't going to work on this instance but don't know the best way to do this on the
class

### What I Did

[code]

[2021-07-01 20:28] nazrulworld commented on #77
We should have a class method available.
[code]

[2021-07-01 21:07] Healthedata1 commented on #77
mmmm doesn't work for this ...

[code]

[2021-07-02 06:19] nazrulworld commented on #77
@Healthedata1 that is something not possible, unfortunately.

[2021-07-06 16:26] Healthedata1 commented on #77
here is what I did:
[code]

[2021-08-24 16:16] gitpushdashf opened #78 "How can I validate any FHIR?"
Hi,

I'd like to validate any type of FHIR dictionary. Whether a Bundle, MedicationRequest, etc. I just want to know that it's valid FHIR.

So far I have:

[code]

Which works great for bundles. I tried Resource, but it doesn't seem to automatically map the resource.

Is this possible with fhir.resources, or easily atainable? I like the error messages a lot more than JSON Schema.

Thank you!

[2021-08-25 06:28] nazrulworld commented on #78
Hi, @gitpushdashf thanks for your interest in this project. Can you please add the problem with the details, perhaps with an example?
//I tried Resource, but it doesn't seem to automatically map the resource.// you mean `fhir.resources.resource.Resource`?

[2021-08-25 14:03] gitpushdashf commented on #78
We're wanting to make sure the FHIR that developer write is valid. We have some fields that can be any JSON FHIR, whether MedicationRequest or Bundle. So we load the JSON into a dict, and then try to process it. However, we don't know in advance if it might be a MedicationRequest, Bundle, etc. We just want to raise an error if it's invalid.

We've been using jsonschema for this, but the error mess

[2021-09-05 03:39] dixonwhitmire opened #79 "Contribution Guidelines Appear to Be Out of Date"
* fhir.resources version: 6.2.0,b3
* Python version: 3.9.7
* Operating System: OS X (11.5.2)

### Description

The Contribution guidelines appear to be out of date, given the current state of the project. For example:

* pipenv is referenced, but dependencies are managed using setup.py and possibly make
* testing guidelines indicate that python 2.7 is supported, which isn't compatible with pydanti

[2021-09-11 15:17] nazrulworld commented on #79
@dixonwhitmire First of thanks a lot for your willingness to contribute.
1. pipenv is no longer dependent on development.
2. yes 3.6, 3.7, 3.8, and 3.9  versions are supported.
You are welcome to come with any improvements.
Feel free to make any PR

[2021-09-15 13:23] dixonwhitmire commented on #79
Hi @nazrulworld thank you for the clarification! We will open a PR if necessary and as time allows. Thanks!

[2021-09-15 13:23] #79 closed

[2021-11-10 21:25] Mo-Di opened #84 "Accept extra fields when calling `parse_obj`."
* fhir.resources version:
* Python version:
* Operating System:

### Description

Our integrator sends us extra fields in their response JSON that aren't part of resource definition. For example, their `DocumentReference` resource json has extra fields `created`, `indexed` and `class`. Running `DocumentReference.parse_obj(response_json)` throws error such as `extra fields not permitted (type=value

[2021-11-11 09:31] nazrulworld commented on #84
Hi @Mo-Di first of all, thanks a lot for using this library.
I like your idea that would give developers more flexibilities to handle nonstandard fields.  Unfortunately, we cannot allow
 any nonstandard field like this,  as you know this library is 100% complying with FHIR Specification, besides ``Config.extra`` is in class level should not modify from function/method.

1. I think your current app

[2021-12-22 19:11] abdulazizibrahim opened #88 "Subscription issue with FHIR DSTU2"
Hi,

I was trying out this library and I faced an issue while creating a subscription object from a json request. You may see the code and the error below.

code :
[code]
`
error:
`
[code]
`

[2021-12-23 13:13] nazrulworld commented on #88
Fixed https://github.com/nazrulworld/fhir.resources/commit/352260c87a07a1dcddfe451cc5238b7b02e4ed53

[2021-12-23 13:13] #88 closed

[2022-01-04 01:22] johnjameswhitman opened #89 "`exclude_unset` missing from `FHIRAbstractModel.dict`"
* fhir.resources version: 6.2 / 6.2
* Python version: 3.8
* Operating System: Linux

### Description

We're currently on v6.1 and are testing an upgrade to v6.2 but our tests for a method that works with both `fhir.resources` and regular `pydantic` models fails with this message:
[code]

We rely on `exclude_unset`, which determines _whether fields which were not explicitly set when creating the mo

[2022-01-04 08:44] nazrulworld commented on #89
Sorry to hear about your problem. I think that breaking changes for not one particular reason. We wanted to keep FHIR specifications consistent, so as not to accept all pydantic arguments blindly.
But in your case, I see a strong reason to keep that parameter!

We will try to add that feature and release it as soon as possible, but it could be really good if we found this issue before the stable r

[2022-01-11 10:37] RafaelWO opened #90 "`include` missing from `FHIRAbstractModel.dict()`"
* fhir.resources version: 6.2
* Python version: 3.8
* Operating System: Linux

Additional libraries
* fastapi: 0.68.1

### Description

I use the pydantic model from `fhir.resources` as response models in FastAPI endpoints, e.g.

[code]

### What I Did

After upgrading to fhir.resources version 6.2, I get the following error at this endpoint

[code]

<details><summary>Click for full stack trace</s

[2022-01-11 21:57] nazrulworld commented on #90
@RafaelWO sorry to hear about your problem. Can you please describe your usecase of using 'include'. If it is not conflict with fhir specification, we could our best try to keep this parameter.

[2022-01-12 13:36] RafaelWO commented on #90
I'm not doing this myself, this is part of [FastAPI](https://github.com/tiangolo/fastapi/) trying to serialize the model to JSON.

[Here](https://github.com/tiangolo/fastapi/blob/master/fastapi/encoders.py#L49) is the line where the exception raises.

[2022-01-12 18:38] nazrulworld commented on #90
Understand that part. Let's see, I have an idea like this 1.) dict() method could accept any pydantic related arguments with doing no action of those extra arguments. 2.) we could do some warning log instead for those extra arguments.

[2022-01-13 06:25] RafaelWO commented on #90
Sounds good! A warning would be very helpful indeed because it took me a while to figure out what the cause of this error was :monocle_face:

So am I right that it is intended that the resources do not support those pydantic feature, e.g. `exclude_none`, anymore?

[2022-01-13 07:27] nazrulworld commented on #90
`by_alias` & `exclude_none` are part of `FHIRAbstractModel.dict()` and with additional `encoder` argument are part of `FHIRAbstractModel.json()`

[2022-01-14 16:24] nazrulworld commented on #89
The new release should prevent the breaking situation.

[2022-01-14 16:24] #89 closed

[2022-01-14 16:52] johnjameswhitman commented on #89
Thank you @nazrulworld!

[2022-02-08 10:02] Bijitakc commented on #59
@ShaikhSuf Did you find out a way to represent the resources in django models?

[2022-02-10 15:24] delcroip opened #93 "Feature request: FSH / sushi output"
### Description

In order to build IG, sushi tool is great, it can takes FHIR profile as input but it will be better if [fhir.resources](https://github.com/nazrulworld/fhir.resources) could print/read FSH instead of JSON

Is it something that is foreseen? if not I might have a look, should I try a PR of just do it in my app ?

br

[2022-02-10 19:49] nazrulworld commented on #93
@delcroip you are always welcome to improve this library. Any PR will be appreciated.

[2022-03-04 10:41] RafaelWO commented on #90
@nazrulworld sorry to bother you again but I experience a ton of the new warnings in my application:
[code]

As outlined above, the reason for this is getting those is using the FHIR models as `response_model` in a FastAPI endpoint. Within FastAPI, the `.dict()` method is called with all pydantic args (even if I only use `exclude_none` - others are `False` or `None`) [here](https://github.com/tian

[2022-03-04 19:46] nazrulworld commented on #90
I understand the problem, One thing I could do is that instead of a warning log, do debug log. But also can possible to find a way to warn one time.
Not sure what will be the best solution, but I am really want to let the user/developer know this message.

[2022-03-29 19:02] Healthedata1 opened #96 "YAML datetime is not serialized to the propor iso format"
* fhir.resources version: 6.2.1
* Python version: 3.10.2
* MAC OS MOntery

### Description

The datetime is not serialized to the proper iso format when using the yaml() method.  This leads to errors when converting to json and with FHIR validation.

### What I Did

[code]

    Period(resource_type='Period', fhir_comments=None, extension=None, id=None, id__ext=None, end=datetime.datetime(2022, 3,

[2022-03-30 07:58] nazrulworld commented on #96
https://yaml.org/type/timestamp.html although without T (space only) is a valid format according to YAML specification. But I fully agree with you, DateTime should represent according to FHIR specification and fortunately, that will comply with YAML specification as well.

[2022-03-30 16:45] Healthedata1 commented on #96
Yes FHIR specifies the iso8601 format with a capital 'T' and  I
unexpectedly get a yaml to json error when converting using the standard
modules.

import sys, yaml, json; json.dump(yaml.full_load(sys.stdin), sys.stdout,
indent=4)' < $yaml_file > $json_file

but I think that is because it is not encased in quotes.

Eric

Eric M Haas, DVM, MS
Health eData Inc
35 Crescent Avenue, Sausalito, CA 94965

[2022-04-02 09:14] nazrulworld commented on #96
@Healthedata1 check out the new release https://pypi.org/project/fhir.resources/6.2.2/

[2022-04-02 09:14] #96 closed

[2022-04-02 14:21] Healthedata1 commented on #96
Thanks, I'll check it out.
Eric M Haas, DVM, MS
Health eData Inc
35 Crescent Avenue, Sausalito, CA 94965
707.227.2608|Skype: haas.eric1
***@***.***

On Sat, Apr 2, 2022 at 2:14 AM Md Nazrul Islam ***@***.***>
wrote:

[2022-04-08 15:25] Healthedata1 commented on #96
this fixes the main issue but one more is that the YAML serialized datetime/time is not wrapped in quotes and caused issues when try to convert yaml to json.  So you cannot round trip from fhir.resource model to yaml to json to fhir.resource.

see below:

[code]

    Period(resource_type='Period', fhir_comments=None, extension=None, id=None, id__ext=None, end=datetime.datetime(2022, 4, 8, 8, 16, 3

[2022-04-11 18:20] Healthedata1 commented on #96
After reviewing the PyYaml documentation I realize there is **no issue here** and it lies with my usage of the yaml package.

[2022-04-13 14:41] azmeuk opened #97 "Validation error with a split primitive"
* fhir.resources version: 6.2.2
* Python version: 3.10.4
* Operating System: Linux

Hello,

Using [fhir-kindling](https://github.com/migraf/fhir-kindling) on production data, I encountered a validation error with an `Organization` resource which address line is split between `line` and `line_`. The [HL7 specification on JSON representation of primitive elements](http://hl7.org/fhir/json.html#primi

[2022-04-13 21:30] nazrulworld commented on #97
Hi @azmeuk,
Firstly thanks a lot for this extraordinary issue!
1. According to our current implementation, the member line value (list of strings) cannot be None or empty string! But you can provide an empty list or None (not None inside the list). In your example, if you remove None from the list, it will not give you a validation error.
2. I tried to Create an Organization at http://hapi.fhir.or

[2022-04-20 11:56] Minitour opened #99 "Is it possible to disable the validation?"
This is more of a general question rather than an issue. I am wondering if it is possible to disable the validation all together or at least make it passive such that the instantiated objects only hold the fields that did pass the validation.

For example I might have an encounter resource that has one of the mandatory fields missing. Instead of raising an error I would like to create an object wi

[2022-04-29 17:17] Healthedata1 opened #100 "element of type url ValidationError when relative reference"
* fhir.resources version: latest
* Python version: 3.7
* Operating System: macOS 12.2.1

### Description

for an element of type url this error came up

File ~/.pyenv/versions/3.10.2/envs/jupyter/lib/python3.10/site-packages/pydantic/main.py:331, in pydantic.main.BaseModel.__init__()

ValidationError: 1 validation error for BundleEntry
resource -> content -> 0 -> attachment -> url
  invalid or mis

[2022-04-29 21:58] nazrulworld commented on #100
@Healthedata1 I will look into it.

[2022-05-09 22:44] Healthedata1 opened #101 "ElementDefinition.id typing is incorrect"
* fhir.resources version: current
* Python version: 3.7
* Operating System: Mac OS Monterey ver 12.12.1

### Description

The StructureDefinition model generates validation errors for the element.id elements due to the regex defined in the model.  The regex is based on the FHIR id datatype.  However, the element.id element is a string datatype and should not use the id datatype regex.

See the ele

[2022-05-11 08:15] nazrulworld commented on #100
Fixes in this commit https://github.com/nazrulworld/fhir.resources/commit/4e6415898b68b2895c7056bc88deadeeaa050092

[2022-05-11 08:15] #100 closed

[2022-05-11 08:15] #101 closed

[2022-05-13 11:55] joofio opened #102 "validation against profile/IG"
Could we make something for validating against profile/Igs?

like validator but with url?

What are your thoughts on this?

[2022-05-17 08:41] joofio commented on #102
How can we implement that then?

[2022-05-20 09:57] mertenssander commented on #102
I would be extremely interested in this.

[2022-05-20 11:57] wowkin2 opened #103 "Issues with Questionnaire and QuestionnaireResponse"
### Description

Found few issues with these entities:
1. `Questionnaire.item.answerConstraint` is present in [FHIR Documentation](https://build.fhir.org/questionnaire-definitions.html#Questionnaire.item.answerConstraint), but missing in `fhir.resources`. So it is not possbile to specify `optionsOnly | optionsOrType | optionsOrString`
2. `QuestionnaireResponse.identifier` is usually a `List` type

[2022-05-20 12:59] #103 closed

[2022-05-20 13:15] wowkin2 commented on #103
@nazrulworld is there a Github branch already for R5, so it can be used for these fields?

[2022-05-20 13:52] nazrulworld commented on #103
Unfortunately, we don’t have any branch for R5 and no development started yet.

[2022-06-20 16:43] dennisbrox opened #105 "Bundle entry"
* fhir.resources version:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

[2022-06-20 16:52] dennisbrox commented on #105
fhir.resources version 6.4, python 3.10.1, Win 10
I've been trying to add a list of resources to bundle.entry with bundle .type = 'collection' and nothing works.  That is: BundleEntry.resource won't let me assign a person resource, bundle.entry doesn't allow append.  No problem doing this in C# but the python validation is confusing.  What is the exact syntax for adding 2 observations, say obs1 an

[2022-06-20 20:01] nazrulworld commented on #105
@dennisbrox can you please give us your code example? (maybe a gist link or directly past here)

[2022-06-20 20:43] dennisbrox commented on #105
Some of a few things I've tried:

from fhir.resources.bundle import Bundle
from fhir.resources.bundle import BundleEntry
from fhir.resources.person import Person
. . .
bundle = Bundle.construct()
p = Person.construct()
# assign p attribute values
. . .
bundle.type = "collection"
be = BundleEntry.construct()

bundle.entry.append(be)     - doesn't work, no append method, equivalent works in C# as it

[2022-06-21 21:46] Minitour commented on #99
Okay, I will try this out, thanks for the detailed comment!

[2022-06-22 20:06] dennisbrox commented on #105
It works in fhirclient the way it's supposed to.  Slightly different syntax between fhir.resources and fhirclient of course.
p_entry = BundleEntry()
p_entry.resource = p
c_entry = BundleEntry()
c_entry.resource = c
b.entry = [p_entry, c_entry]

So both fhirclient and firely in C# work the way they are supposed to.  If  fhir.resources doesn't work,  it would be useful to be warned of that in github

[2022-06-22 20:46] nazrulworld commented on #105
@dennisbrox thanks for your update. I am extremely busy these days, will look at this soon as possible.

[2022-06-26 12:15] nazrulworld commented on #105
@dennisbrox I got some time to check your statements. Here are my results.

1. "bundle.entry.append(be) - doesn't work, no append method, equivalent works in C# as it knows entry is a list": that is true and wanted feature. we are open to accept any PR.
2. "be.resource = p - doesn't work, resource attribute doesn't exist even if it is in the BundleEntry class" I see it's working for me.
3. "be = p

[2022-06-28 13:27] Minitour commented on #99
I ended up using this code and it seems to do the trick
[code]

[2022-07-02 22:29] alexsantos commented on #56
I have a workaround for this: I use the constructor but with those parameters that are required.
[code]

[2022-07-15 09:04] ArdonToonstra commented on #77
Hi @theGOTOguy , thanks! That helped me a lot.
I use it to translate Coding.displays in all my resources examples. :)

[2022-07-15 09:27] ArdonToonstra opened #106 "Question: best way in code to parse a variety of resources?"
* fhir.resources version: 6.4.0
* Python version: 3.7.3
* Operating System: Windows

### Description

How do efficiently parse resource instances into their suitable python classes?

### What I Did

I have a bunch of XML instances that I am trying to parse. I got it working by first checking the XML root and then parsing it to the correct class like the snippet below. This, however, results in a l

[2022-07-18 13:17] prafulbagai opened #107 "How to add profiling into the resources?"
* fhir.resources version: 6.4.0
* Python version: 3.8.9
* Operating System: Mac

### Description

How to implement US-core profiling? I want to apply `us-core profiling` validations on the Resources. Is there any extra package that need to be integrated? Or is it supported by-default?

[2022-07-18 13:19] prafulbagai commented on #102
Was anyone able to achieve this? I wanted to start with us-core profiling.

[2022-07-21 13:01] jyotiamage opened #108 "Method resolved() on reference type data"
* fhir.resources version:6.4.0
* Python version:3.8
* Operating System:Linux

### Description

With fhir.resources 5.1.1 version we had method named resolved() on reference type data to follow through the references but I don't see same with fhir.resources 6.4.0.
am I missing anything or is there any alternative for the same?

### What I Did

[code]

[2022-07-22 13:28] ArdonToonstra commented on #106
Update: I have now rewritten it to:

[2022-07-24 12:39] prafulbagai commented on #107
Any help in this regard @nazrulworld ?

[2022-07-24 17:15] nazrulworld commented on #107
@prafulbagai unfortunately there is no support for profile validation built-in. There are several ways https://github.com/nazrulworld/fhir.resources/blob/main/README.rst#custom-validators you can inject as a custom validator, for example in your case profile validator.

I, myself would like to see profile validation built-in into this library! Unfortunately, I don’t have available time now to look

[2022-07-25 11:20] nazrulworld commented on #108
@jyotiamage from v6.x.x this library is no longer part of the client of SMART on FHIR server (or any open FHIR server), instead focused on standalone pure FHIR implementation. That is the reason "resolved()" is missing, which required server connection implementation.

[2022-07-26 13:38] binbrain commented on #108
That makes sense. What about navigating references locally contained in the same FHIR document though? Is there an easy alternative method/technique to use in place of resolved()?

[2022-08-12 17:09] yvesonline opened #109 "Extend fhir.resources for a particular implementation guide"
* fhir.resources version: 6.4.0
* Python version: 3.8.0
* Operating System: Ubuntu (4.15.0-176-generic)

### Description

We need to work with some FHIR data according to [MIO DiGA V1.0.0](https://simplifier.net/dtk) and I was wondering how to extend fhir.resources to make it possible to do so. For example the `Patient` resource of MIO DiGA is extended by a couple of attributes, so I was wondering

[2022-08-19 18:23] apollo13 opened #110 "Adding support for FHIR R4B"
* fhir.resources version: 6.4.0
* Python version: 3.10
* Operating System: Fedora 36

### Description

It would be great if this package supported FHIR Release R4B https://hl7.org/fhir/R4B/version.info .

I guess this would mean moving the current implementation into an R4 subfolder and then generate it against R4B. I tried doing that locally to submit a PR but more or less failed (even when just

[2022-08-20 14:44] nazrulworld commented on #110
Hi, @apollo13 thanks a lot for this issue!
I think there will be no sub-folder for R4B as this is not a major release, for example R5, you will see it (R4B) is still under version scheme 4. x.x.

https://hl7.org/fhir/R4B/r4b-explanation.html

But obviously, we will need more discussion, maybe we could await a bit more to see if more updates coming.  Also, we need to think fhir.resources version po

[2022-11-06 18:33] dajaffe commented on #90
Hi @nazrulworld - just came across this in a new FastAPI service I'm working on, using these models as the model responses. To avoid spamming our logs I've had to disable loggers coming from `fhir.resources.code`. Huge +1 to making the warning a one-time only or downgrading to INFO / DEBUG

[2022-11-07 08:36] blazing-gig commented on #90
Hey @nazrulworld is there any update on this where the warning can be made only once ? Also, I'm not using FastAPI response models. The logs can be seen just by calling `model_instance.json(exclude_none=True)` explicitly from code. Ideally I don't expect to see any warning at all if explicitly called this way. Let me know your thoughts.

[2022-11-07 10:39] nazrulworld commented on #90
I fully agree with your concerns. I am thinking, maybe is good if we change the log from a warning to debug level.

[2022-11-21 00:11] AndyHowarthSbuffles opened #111 "A fan 🤩"
http://hl7.org/fhir/

[2022-11-21 13:39] blazing-gig opened #112 "Better support for typing and mypy integration"
* fhir.resources version: 6.4.0
* Python version: 3.9
* Operating System: MacOS

### Description

[code]

I'd like to understand the thought process behind why the type of `Patient.address` in the Pydantic base model has been annotated with `typing.List[fhirtypes.AddressType]` rather than the actual `typing.List[fhirtypes.Address]`. This would also help make the package compatible with mypy.

[2022-11-21 17:48] blazing-gig commented on #112
@nazrulworld Would be happy to ideate and contribute if needed. Thanks

[2022-11-21 21:44] nazrulworld commented on #112
@blazing-gig please have a look here https://github.com/nazrulworld/fhir.resources/issues/58

Any kind of contribution is always welcome 🙏

[2022-11-23 05:37] aditya-n-invcr commented on #112
Hey @nazrulworld I read through https://github.com/nazrulworld/fhir.resources/issues/58 and it seems by and large this decision was made to circumvent circular deps while defining the models. Is this correct or am I missing something ?

[2022-11-23 05:41] blazing-gig commented on #112
Hey @nazrulworld I read through https://github.com/nazrulworld/fhir.resources/issues/58 and it seems by and large that this decision was made to circumvent circular deps while defining the models. Is this correct or am I missing something ?

[2022-11-30 08:18] #111 closed, assigned to nobody